@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.header {
  background-image: linear-gradient(to right, black, transparent);
  height: 80vh;
  position: relative;

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .content {
    position: absolute;
    top: 20%;
    h3 {
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    h1 {
      margin: 1rem 0;
      width: 70%;
      font-weight: 900;
      font-size: 3rem;
      position: relative;
      transition: $mid_transition;
      &:hover {
        text-decoration: underline wavy $lighter_rose from-font;
      }
    }

    .titles {
      font-weight: bold;
      margin-bottom: 2rem;
      a {
        transition: $fast_transition;
        margin-right: 3rem;
        color: $lighter_dark;
        &:hover {
          color: white;
        }
      }
    }

    .play-icon {
      background-color: $lighter_rose;
      border: none;
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      width: fit-content;
      color: white;
      font-weight: bold;
      transition: $fast_transition;
      border-radius: 3px;
      &:hover {
        background-color: $dark;
        svg {
          color: $lighter_rose;
        }
      }
      svg {
        transition: $fast_transition;
        font-size: 2rem;
      }

      p {
        display: none;
      }
    }
  }

  .shape {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    button {
      line-height: 1.6;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
      background-color: transparent;
      border: none;
      color: white;
    }
  }
}

@include responsive(mobile) {
  @include header-content;
}

@include responsive(tablet) {
  @include header-content;
}
