@use "../../styles/vars" as *;
.header {
  background-image: linear-gradient(to right, black, transparent);

  .content {
    position: absolute;
    top: 20%;
    h3 {
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    h1 {
      margin: 1rem 0;
      width: 40%;
      font-weight: 900;
      font-size: 3rem;
      position: relative;
      // background-image: linear-gradient(180deg, transparent 92.5%, $lighter_rose 0%);
      // background-repeat: no-repeat;
      // background-size: 100%,100%;
      // background-position: 0 -.2125em;
      transition: $mid_transition;
      &:hover {
        text-decoration: underline wavy $lighter_rose from-font;
      }
    }

    .titles {
      font-weight: bold;
      margin-bottom: 2rem;
      a {
        transition: $mid_transition;
        margin-right: 2rem;
        color: $lighter_dark;
        &:hover {
          color: white;
        }
      }
    }

    button {
      cursor: pointer;
      background-color: $lighter_rose;
      border: none;
      padding: 0.8rem 1.5rem;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      transition: $fast_transition;
      border-radius: 4px;
      &:hover {
        background-color: $dark;
        svg {
          color: $lighter_rose;
        }
      }
      svg {
        transition: $fast_transition;
        margin-right: 0.7rem;
      }
    }

    .shape {
      //  display: flex;
      //  justify-content: flex-end;
      position: absolute;
      right: 0;
      h4 {
        line-height: 1.6;
        font-size: 1.4rem;
        font-weight: normal;
        text-align: center;
      }
    }
  }

  img {
    position: relative;
    z-index: -1;
    max-width: 100%;
  }
}
