@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.cookies {
  margin: 6rem 0 3rem;
  width: 70%;
  text-align: justify;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  div {
    margin: 2rem 0;
    h3 {
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    p {
      line-height: 1.8;
      margin: 1rem 0;
    }
  }
  ul {
    list-style: circle;
    li {
      margin: 1rem;
    }
  }
}

@include responsive(mobile) {
  @include cookie-policy-content;
}

@include responsive(tablet) {
  @include cookie-policy-content;
}
