@use "../../../styles/vars" as *;
.story {
  position: relative;
  width: 400px;
  height: 250px;
  overflow: hidden;
  border-radius: 4px;
  transition: all $mid_transition;
  cursor: pointer;
  .author {
    position: absolute;
    top: 0;
    left: -100%;
    font-weight: 900;
    background-color: $lighter_rose;
    padding: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: inherit;
    z-index: 10;
  }

  .title {
    width: 80%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-weight: 700;
    padding: 0.4rem;
    border-radius: 6px;
    line-height: 1.6;
    transition: inherit;
    z-index: 10;
    background-color: #333333;
  }

  .story-image {
    // Need to understand this point (Please Besho, Ask Google)
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .image-hover {
    transition: inherit;
  }

  .icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    opacity: 0;
    transition: inherit;

    svg {
      font-size: 1.5rem;
      transition: inherit;
      &:hover {
        color: $lighter_rose;
      }
    }
    .top-icons {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-right: 1rem;
    }
    .bottom-icon {
      margin-bottom: 2rem;
      margin-right: 1rem;
      color: $lighter_rose;
    }
  }

  // Hover for all elements:
  &:hover {
    .image-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
    }

    .author {
      left: 0;
    }
    .title {
      background-color: transparent;
    }

    .icons {
      opacity: 1;
    }
  }
}
