@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.side-bar {
  background-color: $dark_gray;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1111;
  height: 100vh;
  width: 40vw;
  padding: 6rem 4rem;
  transition: $mid_transition;
  &.show-side-bar {
    transform: translateX(40vw);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .tags {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
      .primary {
        font-size: 20px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .secondary {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .contact-us {
      font-size: 1.5rem;
      h4 {
        margin-bottom: 10px;
        font-size: 1.3rem;
      }
      .icons {
        display: flex;
        gap: 1rem;
        svg {
          position: relative;
          transition: $fast_transition;
          color: $lighter_dark;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@include responsive(mobile) {
  .side-bar {
    width: 100vw;
    &.show-side-bar {
      transform: translateX(100vw);
    }
  }
}

@include responsive(tablet) {
  .side-bar {
    width: 60vw;
    &.show-side-bar {
      transform: translateX(60vw);
    }
  }
}
