@use "../../styles/vars" as *;
.spinner {
  display: flex;
  margin: 2rem auto;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-right-color: transparent;
  color: $dark_rose;
  animation: spin 1s linear infinite;
  span {
    position: absolute;
    margin: 0px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
