@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.headlines {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 0.5rem solid $lighter_rose;
  padding: 3rem 4rem;
  text-transform: uppercase;
  width: 93%;
  .text {
    h2 {
      font-weight: 900;
      font-size: 3rem;
      span {
        font-weight: 400;
      }
    }
    .more {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      p {
        text-transform: capitalize;
        text-align: center;
        font-style: italic;
      }
      .arrow-down {
        display: none;
      }
      svg {
        color: $lighter_rose;
      }
    }
  }
  .categories {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
}

@include responsive(mobile) {
  .headlines {
    margin: 5rem 1rem;
    flex-direction: column;
    border-width: 15px;
    border-radius: 10px;
    padding: 2rem 1rem;
    box-shadow: $dark_rose 0px 20px 40px -12px inset,
      $dark_rose 20px 18px 36px -18px inset;
    .text {
      h2 {
        text-align: center;
        font-size: 2.5rem;
      }
      .more {
        gap: 1rem;
        p {
          font-style: unset;
        }
        .arrow-right {
          display: none;
        }
        .arrow-down {
          display: block;
        }
      }
    }
    .categories {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      width: 100%;
    }
  }
}

@include responsive(tablet) {
  .headlines {
    margin: 3rem 1rem;
    flex-direction: column;
    border-width: 2rem;
    border-radius: 1rem;
    padding: 4rem 2rem;
    box-shadow: $dark_rose 0px 20px 60px -12px inset,
      $dark_rose 20px 18px 36px -18px inset;
    .text {
      h2 {
        font-size: 4rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        span {
          font-size: 2rem;
        }
      }
      .more {
        gap: 1rem;
        .arrow-right {
          display: none;
        }
        .arrow-down {
          display: block;
        }
      }
    }
    .categories {
      justify-content: center;
    }
  }
}
