@use "../../styles/vars" as *;
.headlines {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  border: 0.5rem solid $lighter_rose;
  padding: 3rem 4rem;
  text-transform: uppercase;
  width: 93%;
  .text {
    h2 {
      font-weight: 900;
      font-size: 3rem;
      span {
        font-weight: 400;
      }
    }
    .more {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      p {
        text-transform: capitalize;
        text-align: center;
        font-style: italic;
      }
      svg {
        color: $lighter_rose;
      }
    }
  }
  .categories {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
}
