@use "../../styles/vars.scss" as *;

.stories {
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  .no-news {
    background-color: $dark;
    padding: 1rem 2rem;
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    border-radius: 10px;
  }

  .rendered-stories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 2rem;
  }
}
