@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.stories {
  margin-bottom: 2rem;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 900;
  }

  .no-news {
    background-color: $dark;
    padding: 1rem 2rem;
    text-align: center;
    margin: 0 auto 3rem;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    border-radius: 10px;
  }

  .rendered-stories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 2rem;
  }
}

@include responsive(mobile) {
  .stories {
    h3 {
      margin-left: 1rem;
      font-size: 1rem;
    }

    .no-news {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: normal;
    }
    .rendered-stories {
      margin: 2rem 1rem;
      gap: 2rem;
    }
  }
}

@include responsive(tablet) {
  .stories {
    h3 {
      font-size: 2rem;
      margin-left: 1rem;
    }

    .no-news {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      font-weight: normal;
    }
    .rendered-stories {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 2rem 1rem;
      gap: 2rem 1rem;
    }
  }
}
