@use "../../styles/vars.scss" as *;

.stories {
  margin: 4rem 0;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  .rendered-stories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 2rem;
  }
}
