@use "../../styles/vars" as *;

.catched-story {
  margin: 6rem 0;
  background-image: linear-gradient(to right, black -10%, transparent);
  .top-content {
    position: absolute;
    top: 25%;
    left: 1rem;
    .title {
      width: 50vw;
      text-align: justify;
      font-weight: 900;
      font-size: 2rem;
    }
    .links {
      font-weight: bold;
      margin: 2rem 1rem;
      a {
        transition: $fast_transition;
        margin-right: 3rem;
        color: $lighter_dark;
        &:hover {
          color: white;
        }
      }
    }
    .social {
      display: flex;
      gap: 3rem;
      align-items: center;
      .play {
        display: flex;
        width: fit-content;
        background-color: $lighter_rose;
        padding: 0.5rem 2rem;
        transition: $fast_transition;
        border-radius: 4px;
        svg {
          transition: inherit;
          font-size: 2rem;
        }
        &:hover {
          background-color: $dark;
          svg {
            color: $lighter_rose;
          }
        }
      }
      .icons {
        display: flex;
        gap: 1.5rem;
        svg {
          cursor: pointer;
          font-size: 1.5rem;
          transition: $fast_transition;
          &:hover {
            color: $lighter_rose;
          }
        }
      }
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 80vh;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .author {
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid $lighter_rose;
      border-bottom: none;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: 100;
      font-style: italic;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }

  .bottom-content {
    margin-top: 2rem;
    display: block;
    width: 70vw;
    .paragraph {
      line-height: 1.8;
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      font-size: 22px;
      .content,
      .description {
        &::before {
          margin-right: 1rem;
          border-top-right-radius: 40px;
          padding: 0.2rem 1.5rem;
          font-style: italic;
          // From CSS Gradient (https://cssgradient.io)
          background-image: linear-gradient(
            315deg,
            $lighter_rose 10%,
            #00dbde 120%
          );
        }
      }
      .content {
        &::before {
          content: "Content";
        }
      }
      .description {
        &::before {
          content: "Description";
        }
      }
    }
    .read-more {
      background-color: $darken;
      border: 2px solid $lighter_rose;
      padding: 0.5rem 4rem;
      font-size: 2rem;
      font-style: italic;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      transition: $fast_transition;
      display: block;
      width: fit-content;
      margin: 3rem 0 0 auto;
      &:hover {
        background-color: $dark;
      }
    }
  }
}
