@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.inbox {
  margin: 5rem 0;
  width: 93%;
  background-color: $lighter_rose;
  padding: 4rem 3rem;
  .title {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 400;
      font-size: 3rem;
      text-transform: uppercase;
      span {
        font-weight: 900;
      }
    }
  }

  .subscribe {
    display: flex;
    align-items: center;
    gap: 1rem;
    .field {
      position: relative;
      flex: 1;
      input {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 0;
        outline: 0;
        border-radius: 3px;
        &::placeholder {
          color: #9e9e9e;
        }
      }
      .required,
      .validate {
        position: absolute;
        bottom: 5px;
        right: 2px;
        z-index: 11;
        color: $lighter_red;
        font-style: italic;
        font-size: 12px;
      }
    }
    button {
      background-color: $dark;
      color: white;
      font-size: 1.3rem;
      padding: 0.5rem 1.5rem;
      border: none;
      transition: $fast_transition;
      &:hover {
        background-color: $darken;
      }
    }
  }
}

@include responsive(mobile) {
  @include inbox-content;
  .inbox {
    padding: 1rem;
    .title {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@include responsive(tablet) {
  @include inbox-content;
  .inbox {
    padding: 4rem 1rem;
    .subscribe {
      grid-template-columns: 1fr 1fr;
      button {
        font-size: 1.5rem;
      }
    }
  }
}
