@mixin responsive($checkpoint) {
  @if $checkpoint == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $checkpoint == tablet {
    @media (max-width: 1199px) and (min-width: 768px) {
      @content;
    }
  }
}

// Implement responsive layout for (Navbar) component:
@mixin navbar-content {
  .navbar {
    width: 100%;
    .L-H-S {
      margin: 0 auto;
      .pages {
        display: none;
      }
    }

    .R-H-S {
      position: absolute;
      top: 35%;
      margin-right: unset;
      svg {
        position: absolute;
        left: 5vw;
      }

      .side-bar {
        .menu-icon {
          position: absolute;
          left: 80vw;
        }
      }
    }

    .search-bar {
      input {
        width: 100%;
      }
    }
  }
}

// Implement responsive layout for (Header) component:
@mixin header-content {
  .header {
    background-image: none;
    height: 100vh;
    background: linear-gradient(to top, black 50%, transparent);
    img {
      height: 50%;
    }

    .content {
      position: unset;
      padding-left: 1rem;
      margin-top: 2rem;

      h3 {
        font-size: 1rem;
      }

      h1 {
        width: 95%;
        font-size: 1.5rem;
        text-align: justify;
      }

      .play-icon {
        justify-content: center;
        width: 95%;
        margin-bottom: 3rem;
        svg {
          font-size: 1.5rem;
        }

        p {
          display: block;
          margin-left: 10px;
        }
      }
    }

    .shape {
      position: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        line-height: 1.2;
        text-align: start;
      }
    }
  }
}

// Implement responsive layout for (About) component:
@mixin about-content {
  .about {
    .title {
      height: 50vh;
      h2 {
        margin-left: 1rem;
        font-size: 2rem;
      }
    }
    .description {
      p {
        width: 90%;
        text-align: justify;
        margin-left: 1rem;
        line-height: 1.5;
      }
    }
  }
}

// Implement responsive layout for (HomeSlider) component:
@mixin home-slider-content {
  .slider {
    .controls {
      h2 {
        font-size: 1.5rem;
        margin-left: 2rem;
      }
      .buttons {
        gap: 2rem;
      }
    }
  }
}
