// Colors
$dark_rose: #d43251;
$lighter_rose: #ff4669;
$lighter_dark: #7c7b7a;
$dark: #29323c;
$darken: #212121;
$dark_gray: #323232;
$lighter_red: #fd4650;
// Transitions
$slow_transition: 1s;
$mid_transition: 0.5s;
$fast_transition: 0.2s;
